// our "medium" styles go in here

.primary-content {
  display: inline;
  float: left;
  margin-right: 1.5%;
  margin-left: 0;
  width: 60%;
}

.secondary-content {
  display: inline;
  float: left;
  margin: 0;
  width: 38.5%;
}