// Breakpoint for Sass & Compass: http://breakpoint-sass.com/

// our "medium" styles go in here

.primary-content {
  clear: both;
  margin: 0 auto 2em auto;
  width: 95%;

  @include breakpoint($bp-md) {
    display: inline;
    float: left;
    margin-right: 1.5%;
    margin-left: 0;
    width: 60%;
  }
}

.secondary-content {
  clear: both;
  margin: 0 auto 2em auto;
  width: 95%;

  @include breakpoint($bp-md) {
    display: inline;
    float: left;
    margin: 0;
    width: 38.5%;
  }
}